:root {
  --brown-grey: #9f9f9f;
  --black: #232323;
  --i-os-system-tints-system-blue-light: #007aff;
  --brownish-grey: #5f5f5f;
  --whiteword: #fff;
  --black: #1d1d1d;
  font-size: 16px;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    SFProDisplay-Regular, 'SF Pro';
}

/* This is demo only */
@import url(https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css);
@import url("https://fonts.googleapis.com/css2");

body {
    background-color: #e0e3e8;
    font-family: "Rubik", sans-serif;
}
/* ---Sidebar css */
.text-primary{
  color: #5a8dee!important;
}
.btn-primary {
    border-color: #5a8dee !important;
    background-color: #5a8dee !important;
    color: #fff;
}
.shadow-md {
    box-shadow: 0px 5px 10px rgba(90, 116, 148, 0.3);
}
.navbar{
  border-radius: 5px;
}
.sidebar{
    width: 80%;
    min-width: 280px;
    min-height: 100vh;
    box-shadow: 0px 4px 8px rgb(0 0 0 / 16%);
    background-color: #fff;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 1;
    transition: 0.3s;
}
.sidebar.active{
    right: 0;
}
.sidebar .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}
.sidebar-overlay{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    transition: 0.4s;
    opacity: 0;
    visibility: hidden;
}
.sidebar-overlay.active{
    opacity: 1;
    visibility: visible;
}
.sidebar .body{
    padding: 15px;
    max-height: calc(100vh - 67px);
    overflow-x: hidden;
}
.sidebar .body ul{
    display: inline-block;
    width: 100%;
    margin-bottom: 0;
    padding: 0;
}
.sidebar .body ul li{
    list-style: none;
    margin-bottom: 8px;
}
.sidebar .body ul li .sd-link{
    display: inline-block;
    width: 100%;
    padding: 10px 16px;
    color: #475f7b;
    background-color: #e5e8ec;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}