/*Images*/
img.Group-25 {
  width: 14.625rem;
  height: 2.063rem;
  /* margin: 1.813rem 1.688rem 3.125rem 1.125rem; */
  object-fit: contain;
}

img.Group-28 {
  width: 2.5rem;
  height: 2.5rem;
  /* margin: 0.75rem 0.313rem 2.063rem 0; */
  object-fit: contain;
}

img.iconclose {
  width: 1.875rem;
  height: 1.875rem;
  /* margin: 1.875rem 1.875rem 3.25rem 0; */
  object-fit: contain;
}

.sidebar .section-links img.icon {
  width: 2.5rem;
  height: 2.5rem;
  object-fit: contain;
}

.sidebar .section-links img.arrow {
  width: 1.75rem;
  height: 1.75rem;
  object-fit: contain;
}

.sidebar .section-menu img.icon {
  width: 2rem;
  height: 2rem;
  object-fit: contain;
}