:root {
  --brown-grey: #9f9f9f;
  --black: #232323;
  --i-os-system-tints-system-blue-light: #007aff;
  --brownish-grey: #5f5f5f;
  --whiteword: #fff;
  --black: #1d1d1d;
  font-size: 8px;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    SFProDisplay-Regular, 'SF Pro';
}

.page {
  background-color: rgba(0, 0, 0, 0.2);
}

/*sidebar*/
.sidebar {
  width: 37.375rem;
  margin: 0 0 0 9.5rem;
  padding: 0 0 19.813rem;
  background-color: var(--whiteword);
}

.sidebar hr {
  height: 0.063rem;
  border: 0;
  background-color: #ebebeb;
}

.sidebar img.arrow,
img.iconclose {
  float: right;
  margin: 0 1.75rem 0 0;
}

.sidebar section {
  width: 37.375rem;
}

.sidebar .section-top .logo {
  padding: 7.5rem 0.5rem 2rem 11rem;
}

.sidebar .section-top .section-member p {
  display:flex;
  margin: 1rem 0 0 2.5rem;
}

.sidebar .section-top .section-member .name {
  height: 2.5rem;
  font-size: 1.75rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #666;
}

.sidebar .section-top .section-member .balance {
  height: 2.813rem;
  margin: 0 0.625rem 0 0;
  font-size: 2rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000;
}

.sidebar .section-links p{
  margin: 3.25rem 0;
  display:flex;
}

.sidebar .section-links img {
  margin: 0 0 0 2.75rem;
}

.sidebar .section-links label {
  width: 60%;
  height: 2.5rem;
  margin: 0 0 0 1.5rem;
  padding: 0 2rem 0 0;
  font-size: 1.75rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000;
}

.sidebar .section-menu article {
  margin: 2.75rem 0;
}

.sidebar .section-menu article p {
  height: 2.5rem;
  margin: 0 0 2.15rem 2.5rem;
  font-size: 1.75rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000;
}

.sidebar .section-menu article span {
  width: 35%;
  display: inline-flex;
  margin: 0 0 0 3.5rem;
  align-items: center;

}

.sidebar .section-menu article label {
  height: 2.5rem;
  margin: 0 0 0 0.5rem;
  font-size: 1.75rem;
  font-weight: 300;
  color: #000;
}