/*Images*/
img.Group-25 {
  width: 7.312rem;
  height: 1.030rem;
  /* margin: 1.813rem 1.688rem 3.125rem 1.125rem; */
  object-fit: contain;
}

img.Group-28 {
  width: 1.25rem;
  height: 1.25rem;
  /* margin: 0.75rem 0.313rem 2.063rem 0; */
  object-fit: contain;
}

img.iconclose {
  width: 0.9375rem;
  height: 0.9375rem;
  /* margin: 1.875rem 1.875rem 3.25rem 0; */
  object-fit: contain;
}

.sidebar .section-links img.icon {
  width: 1.25rem;
  height: 1.25rem;
  object-fit: contain;
}

.sidebar .section-links img.arrow {
  width: 0.875rem;
  height: 0.75rem;
  object-fit: contain;
}

.sidebar .section-menu img.icon {
  width: 1rem;
  height: 1rem;
  object-fit: contain;
}