.page {
  background-color: rgba(0, 0, 0, 0.2);
}

/*sidebar*/
.sidebar {
  width: 18.6875rem;
  margin: 0 0 0 4.75rem;
  padding: 0 0 9.9065rem;
  background-color: var(--whiteword);
}

.sidebar hr {
  height: 0.0315rem;
  border: 0;
  background-color: #ebebeb;
}

.sidebar img.arrow,
img.iconclose {
  float: right;
  margin: 0 0.875rem 0 0;
}

.sidebar section {
  width: 18.6875rem;
}

.sidebar .section-top .logo {
  padding: 3.75rem 0.25rem 1rem 5.5rem;
}

.sidebar .section-top .section-member p {
  display:flex;
  margin: 0.5rem 0 0 1.25rem;
}

.sidebar .section-top .section-member .name {
  height: 1.25rem;
  font-size: 0.875rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #666;
}

.sidebar .section-top .section-member .balance {
  height: 1.4065rem;
  margin: 0 0.3125rem 0 0;
  font-size: 1rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000;
}

.sidebar .section-links p{
  margin: 1.625rem 0;
  display:flex;
}

.sidebar .section-links img {
  margin: 0 0 0 1.375rem;
}

.sidebar .section-links label {
  width: 60%;
  height: 1.25rem;
  margin: 0 0 0 1.25rem;
  padding: 0 1rem 0 0;
  font-size: 0.875rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000;
}

.sidebar .section-menu article {
  margin: 1.375rem 0;
}

.sidebar .section-menu article p {
  height: 1.25rem;
  margin: 0 0 1.075rem 1.25rem;
  font-size: 0.875rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000;
}

.sidebar .section-menu article span {
  width: 35%;
  display: inline-flex;
  margin: 0 0 0 0.875rem;
  align-items: center;

}

.sidebar .section-menu article label {
  height: 1.25rem;
  margin: 0 0 0 0.25rem;
  font-size: 0.875rem;
  font-weight: 300;
  color: #000;
}